<html>

<body>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <br><br>
  <div class="container" id="container">


    //sign in form
    <div class="form-container sign-in-container">
      <form (ngSubmit)="loginUser()">
        <h1>Sign in</h1>
        <input type="email" placeholder="Email" name="email" [(ngModel)]="loginData.email" />
        <input type="password" placeholder="Password" name="password" [(ngModel)]="loginData.password" />
        
<a href="#">Forgot your password?</a>
      

        <button>Sign In</button>
      </form>
    </div>

    // sign form ends


    //Sign Up Form
    <form (ngSubmit)="createUser()">
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Sign Up</h1>
          <input type="text" name="name" [(ngModel)]="data.name"  placeholder="Name" />
          <input type="email" name="email" [(ngModel)]="data.email" placeholder="Email" />
          <p>****you will get the password in registered email</p>
          <br>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
     </form>
  </div>




</body>
</html>