<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Comprinno Technology</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">
        <a [routerLink]="['/dashboard']"  class="nav-link">Home</a>
      </span>
      <span class="navbar-text">
        <a class="nav-link" href="#">SignOut</a>
      </span>
    </div>
  </nav>

  <br><br><br>

  <div class="container">
        <form (ngSubmit)="add()">
          <div class="modal-header">
            <h4 class="modal-title">Add Contact</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control"
                [(ngModel)]="object.name" required>
              
            </div>
           
            <p class="text-danger"> {{namevalid}}</p>
           
            <div class="form-group">
              <label>Phone</label>
              <input type="text" name="number" class="form-control" [(ngModel)]="object.number" required>
            </div>
            <p class="text-danger">{{numberValid}}</p>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Add">
          </div>
        </form>
      

