<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Comprinno Technology</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <span class="navbar-text">
      <a [routerLink]="['/dashboard']"  class="nav-link">Home</a>
    </span>
   
    
    <!--
       <span class="navbar-text">
         <a class="nav-link" href="#">Update</a>
       </span>
      <span class="navbar-text">
        <a (click)="logoutUser()" class="nav-link">SignOut</a>
      </span>
 <span class="navbar-text">
   <a class="nav-link">Welcome, {{title}}</a>
 </span>
    -->
   

     <div class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
         Welcome, {{name}}
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a [routerLink]="['/updateuser']" class="dropdown-item">Update</a>
         <a (click)="logoutUser()"  class="dropdown-item" href="#">LogOut</a>
       </div>
      </div>

  </div>
  </nav>

  <br><br><br>

  

<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Contact</b></h2>
        </div>
        <div class="col-sm-6">
          <a [routerLink]="['/addcontact']" class="btn btn-success" data-toggle="modal"><i
              class="material-icons">&#xE147;</i>
            <span>Add New Contact</span></a>
          <a (click)="deleteAll()" class="btn btn-danger" data-toggle="modal"><i
              class="material-icons">&#xE15C;</i> <span>Delete All </span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>Name</th>
          <th>Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of contact | paginate: { itemsPerPage:5, currentPage:p}; let j=index ">
          <td>{{j+1}}</td>
          <td>{{i.name}}</td>
          <td>{{i.number}}</td>
          <td>
            <a (click)="editUser(i)" class=" edit" data-toggle="modal"><i class="material-icons"
                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a (click)="deleteUser(i)" class=" delete" data-toggle="modal"><i class="material-icons"
                data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </tbody>
    </table>
  </div>
  </div>